body {
    background-color: lightgray;
}

h1 {
    color: white;
    background-color: saddlebrown;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 270px;
}

.peachcontainer {
    color: green;
    font-weight: bold;
    background-color: peachpuff;
    width: 700px;
    padding-top: 15px;
    padding-bottom: 15px;
}

p {
    

}

h2 {

}

.scorecard {

}

.totalscore {

}