body {
    background-color: lightgray;
}

h1 {
    color: white;
    background-color: saddlebrown;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 270px;
}

.peachcontainer {
    color: green;
    font-weight: bold;
    background-color: peachpuff;
    width: 700px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.randominteger {
    color: navy;
    font-size: 35px;
    padding-left: 5px;
    background-color: teal;
    padding-bottom: 100px;
    padding-top: 5px;
    padding-right: 200px;
    max-width: 100px;
}

.greenbox {
    color: white;
    background-color: green;
    padding-right: 50px;
    padding-top: 20px;
    padding-left: 5px;
    padding-bottom: 30px;
    width: 300px;
}
img {
    width: 100px;
    height: 100px;
}

.totalscore {
    width: 300px;
    color: white;
    background-color: teal;
    padding-left: 5px;
    padding-right: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
}

.totalscoreinteger {
    color: white;
    font-size: 35px;
    width: 300px;
    background-color: teal;
    padding-left: 5px;
    padding-right: 380px;
    padding-top: 7px;
    padding-bottom: 100px;
}